@import url('./buttonVars.css');

.btn{
    min-width: var(--base-width);
    min-height: var(--base-height);
    max-width: calc(var(--base-width) + 59px);
    max-height: calc(var(--base-height) + 6px);
    border-radius: var(--base-radius);
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.btn:hover{
    background-color: var(--default-hover);
}

/* shadow control options */
.btn.shadow__off{
    box-shadow: none;
}

/* color options */
.default{
    background-color: var(--default);
    color: var(--color-main);
}

.primary{
    background-color: var(--primary);
    color: var(--color-revert);
}

.primary:hover{
    background-color: var(--primary-hover);
}

.secondary{
    background-color: var(--secondary);
    color: var(--color-revert);
}

.secondary:hover{
    background-color: var(--secondary-hover);
}

.danger{
    background-color: var(--danger);
    color: var(--color-revert);
}

.danger:hover{
    background-color: var(--danger-hover);
}

/* outlined options */

.outline{
    width: calc(var(--base-width) + 7px);
    height: calc(var(--base-height) + 2px);
    background-color: #fff;
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
    box-shadow: none;
}

.outline:hover{
    background: rgba(41, 98, 255, 0.1);
}

.text{
    border: none;
    justify-content: start;
}

.text:hover{
    background: rgba(41, 98, 255, 0.1);
    text-align: center;
}

/* disabled options */

.disable{
    width: calc(var(--base-width) + 7px);
    height: calc(var(--base-height) + 2px);
    background-color: var(--disable);
    color: var(--color-disable);
    cursor: not-allowed; 
}

.disable:hover{
    background-color: var(--disable);
    color: var(--color-disable);
}

.disable__text{
    width: calc(var(--base-width) + 7px);
    height: calc(var(--base-height) + 2px);
    background-color: #fff;
    color: var(--color-disable);
    border: none;
    text-align: start;
    align-items: center;
    cursor: not-allowed; 
}

.disable__text:hover{
    background-color: #fff;
    color: var(--color-disable);
    text-align: start;
    align-items: center;
}

/* Icons option */

.iconstart__margin{
    margin-right: 8px;
}

.iconend__margin{
    margin-left: 8px;
}

/* Size option */

.sm{
    min-width: 73px;
    min-height: 32px;
    max-width: calc(73px + 10px);
    max-height: calc(32px + 4px);
}

.md{
    min-width: var(--base-width);
    min-height: var(--base-height);
}

.lg{
    width: calc(var(--base-width) + 12px);
    height: calc(var(--base-height) + 11px);
}