:root{
    --base-width: 81px ;
    --base-height: 36px;
    --base-margin: 16px 8px;
    --base-radius: 6px;
}

.iconstart__margin{
    margin-right: 8px;
}

.iconend__margin{
    margin-left: 8px;
}