@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #3F3F3F;
}